RewriteEngine On
RewriteRule "^blog/page-([0-9]+)$" "blog.php?page=$1"
RewriteRule "^blog/([\w-]+)-([0-9]+)$" "blog-details.php?id=$2&title=$1"
RewriteRule "^category/([\w-]+)$" "cat.php?type=$1"
RewriteRule "^category/([\w-]+)/page-([0-9]+)$" "cat.php?type=$1&page=$2"
RewriteRule "^brand/([\w-]+)$" "brand.php?brand=$1"
RewriteRule "^brand/([\w-]+)/page-([0-9]+)$" "brand.php?brand=$1&page=$2"
RewriteRule "^price/level-([0-9]+)$" "price.php?pricelv=$1"
RewriteRule "^price/level-([0-9]+)/page-([0-9]+)$" "price.php?pricelv=$1&page=$2"
RewriteRule "^shop/page-([0-9]+)$" "shop.php?page=$1"
